body {
	height: 99%;
	background-image: url("/img/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

html {
    height: 99%;
}

* {
    font-family: Consolas, monaco, monospace; 
}

.wrapper {
	width: 92%; 
	margin: 0 auto;
}

img {
	border: 1px solid black;
	border-radius: 10px;
}

.textCenter {
	text-align: center;
}

img:hover {
 	border: 1px solid green;
 	cursor: pointer;
 }