#playerCards {
    text-align: center;
}

#gameTable {
    height: 100%; 
    width: 60%; 
    margin: 0 auto; 
    position: relative;
}

#playerTable {
    position: relative;
    height: 75%;
}

#p1 {
    position:absolute;
    top:0;
    width:100%;
    text-align:center;
}

#p4 {
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
}

#p2p3container {
    height: 220px;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#p2container {
    height: 100%; 
    float: left;
}

#p3container {
    height: 100%; 
    float: right;
}

#p2container p,
#p3container p {
    float: left; 
    line-height: 188px;
}

#p2container img,
#p3container img {
    float: left; 
    margin-top: 7px
}

.playerBox {
    border: 1px solid red;
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.playerBoxP {
    margin-top: 52.5px;
    text-align: center;
}

.autoMargin {
    margin: auto;
}

.container-center{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#tableArea {
    text-align: center; 
    background-color: white; 
    border: 2px solid yellow;
    border-radius: 75px; 
    height: 440px;
}

.player0Style {
    width: 100%; 
    text-align: center;
    padding-top: 2px;
}

.player12Style {
    margin-top: 100px;
}

.player3Style {
    position: absolute; 
    bottom: 2px;
    left: 0;
    right: 0;
}