#playerCards img {
    width: 11.5%; 
    height: 100%;
}

#playerCards {
    height: 25%; 
    text-align: center;
    /*border: 2px solid lightcoral;*/
}

#gameTable {
    height: 100%; 
    width: 60%; 
    margin: 0 auto; 
    position: relative;
}

#playerTable {
    position: relative;
    height: 75%;
}

#p1 {
    position:absolute;
    top:0;
    width:100%;
    text-align:center;
}

#p4 {
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
}

#p2p3container {
    height: 220px;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#p2container {
    height: 100%; 
    float: left;
}

#p3container {
    height: 100%; 
    float: right;
}

#p2container p,
#p3container p {
    float: left; 
    line-height: 188px;
}

#p2container img,
#p3container img {
    float: left; 
    margin-top: 7px
}